{% extends "base.html.twig" %}


{% block body %}
<link rel="stylesheet" href="{{ asset('css/home.css') }}">
<link rel="stylesheet" href="{{ asset('css/sidenav.css') }}">

<!-- getting the ids to use them in js file -->
{% for product in products %}
    <div hidden data-product-id="{{ product.id }}"></div>
    <div hidden data-product-code="{{ product.code }}"></div>
{% endfor %}

<div class="sidenav">
    {% for category in categories %}
        <a href="{{ path('home.products_category', {id: category.id}) }}" id="categories">{{ category.name }}</a>
    {% endfor %}
</div>
<section id="products" class="products">
    <div class="container">
        <div class="section-header">
            <h2 style="text-align: center;">Our Products</h2>
        </div>
        <!--/.section-header-->
        <div class="products-content">
            <div class="row">
                {% for product in products %}
                <div class="col-md-3 col-sm-4">
                    <div class="single-new-arrival">
                        <div class="single-new-arrival-bg">
                            <img class="test" src="{{ '/uploads/' ~ product.mainImage }}"
                                alt="products images">
                            <div class="single-new-arrival-bg-overlay"></div>
                        </div>
                        <h4><a data-product-name="{{ product.name }}" href="{{ path('product.show', {id: product.id}) }}">{{ product.name }}</a></h4>
                        <p class="arrival-product-price">${{ product.price }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}