{% extends "base.html.twig" %}

{% block body %}
    <br>
    <h2 style="text-align: center;">Create Product</h2>
    {% if sizesErrors is defined and sizesErrors|length > 0 %}
    <div class="alert alert-danger">
        <br>
        <ul>
            {% for error in sizesErrors %}
                <li>{{ error.message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.category) }}
        {{ form_row(form.price) }}
        {{ form_row(form.images) }}
        {{ form_row(form.code) }}
        {{ form_row(form.stock) }}
        {{ form_row(form.availability) }}
        <div class="col-sm-8 col-sm-offset-2" id="accessories_list" data-prototype="{{ form_widget(form.accessory.vars.prototype)|e('html_attr') }}">
            <h3>Accessories</h3>
            <h6>Here you may add all your required sizes, colors, or the required description for your product</h6>
            {% for row in form.accessory %}
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        {{ row.vars.value.title }}
                    </div>
                    {{ form_row(row) }}
                </div>
            {% endfor %}
        </div>
        <br>
        {{ form_row(form.submit) }}
    {{ form_end(form) }}
{% endblock %}