{% extends "base.html.twig" %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/edit_product.css') }}">
    <br>
    <h2 style="text-align: center;">Edit Product</h2>
    <br>
    {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {% endfor %}
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.category) }}
        {{ form_row(form.price) }}
        <br>
        {% if images is defined %}
            {% for image in images %}
            <img style="height: 20%; width: 10%" src="{{ asset('/uploads/' ~ image) }}" alt="">
            <a onclick="return confirm('Are you sure you want to delete this image ?')" style="text-align: center;" class="btn btn-danger btn-sm" href="{{ path('image.destroy', {image: image}) }}">Delete</a>
            {% endfor %}
        {% endif %}
        {{ form_row(form.images) }}
        <div class="col-sm-8 col-sm-offset-2" id="accessories_list" data-prototype="{{ form_widget(form.accessory.vars.prototype)|e('html_attr') }}">
            <h3>Accessories</h3>
            {% for row in form.accessory %}
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        {{ row.vars.value.title }}
                    </div>
                    {{ form_row(row) }}
                </div>
            {% endfor %}
        </div>
        {{ form_row(form.code) }}
        {{ form_row(form.stock) }}
        {{ form_row(form.availability) }}
        {{ form_row(form.submit) }}
    {{ form_end(form) }}
{% endblock %}